.container {
  width: 100%;
  height: 100%;
  margin: 0% auto;
  display: flex;
  justify-content: space-around;
  background-color: white;
}
h1 {
  background: #4aaaa5;
  width: 250px;
  height: 90px;
  color: white;
  text-align: center;
  padding-top: 30px;
}
.container li {
  float: right;
  padding: 20px;
  display: inline block;
}
.container ul {
  padding: 0%;
  list-style: none;
  margin: 0;
}
body {
  background-color: antiquewhite;
}
.container2 {
  height: 450px;
  width: 960px;
  border: solid lightgrey;
  background-color: white;
  margin-left: auto;
  margin-right: auto
}
p{
  font-family: Arial;
}
footer {
    background:#666666;
 padding: 20px;
  height: 95px;
  width: 940;
  clear: both;